.box {
	padding-top: 10;
}

.table-auth thead td {
	background: #408EBA;
	color: #FFF;
}

.table-align-center td, .table-align-center th {
	text-align: center;
	justify-content: center;
}

.td-action {
	width: 85px;
}
.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.custom-btn-choose-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.error {
	color: red;
}

.display-none {
	display: none;
}