.form-group-custom {
    margin-left: 15px;
    margin-right: 15px;
}
hr {
    margin-top: 10px;
}

.input-group .btn-fa {
    padding: 2px 5px;
}

.specific-item .input-group .form-control {
    width: 95%;
}
.specific-item .input-group-addon:last-child {
    border: 1px solid #ccc;
}

.swal-footer {
	text-align: center !important;
}